@charset "utf-8";
/* CSS Document */

@media (max-width:1199px){

}
@media (max-width:980px){

}
@media (max-width:767px){
	.main-heading {
    text-align: left;
    line-height: 25px;
}
	.flex-div{
		display: block;
}
	.pd-left-50 {
    padding-left: 0 !important;
}
}
@media (max-width:680px){

}
@media (max-width:580px){

}