@charset "utf-8";
/* CSS Document */
/*
font-family: 'Raleway', sans-serif;
font-family: 'Calibri Light';
*/









/* Global CSS */

@font-face {
font-family: 'Calibri Light';
font-style: normal;
font-weight: normal;
src: local('Calibri Light'), url('../fonts/calibril.woff') format('woff');
}
ul{
	margin: 0;
}
.position-rel{
	position: relative;
}
.position-abso{
	position: absolute;
}
.section-height-vh {
    display: flex;
    height: 100vh !important;
    position: relative;
    overflow: hidden;
	align-items: center;
}
.width-70-per{
    width: 70%;
}
.devider {
    border: none;
	border-bottom: 3px solid transparent !important;
    width: 60%;
    border-radius: 50px;
}
/**********Home Page*************/
.play-main-icon {
    font-size: 80px;
    color: #e32d91;
}

.big-heading {
    font-size: 45px;
    color: #bbcbd4;
    font-family: 'Calibri Light';
    font-weight: bold;
}
.main-page-heading {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.main-page-subheading {
    font-size: 18px;
    font-weight: 300;
    color: #a6a6a6;
    font-family: 'Raleway', sans-serif;
}
.top-border {
    border-top: 2px solid #7f7f7f;
}
/*=========Header=========*/
.main-heading{
	font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #fff;
	text-align: justify;
}
.main-heading:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #7f7f7f;
    bottom: -10px;
    left: 0;
    width: 100%;
	margin-left: 15px;
}
.sub-sub-heading {
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #bbcbd4;
/*    text-align: justify;*/
}
.paragraph-all {
    font-family: 'Calibri Light';
    font-size: 14px;
    font-weight: 500;    
    color: #bbcbd4;
}
.text-justfy{
	text-align: justify;
}
.page-no {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border: 1px solid #e32d91;
    padding: 15px;
    border-radius: 100%;
    background: #e32d91;
}
.flex-jc-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-div{
	display: flex;
	align-items: center;
}
.m-top-40 {
    margin-top: 40px;
}
.img-center{
	margin: 0 auto;
}
.bg-blue{
	background: #34414a;
}
.sub-heading {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #bbcbd4;
}
.neked-icon {
    font-size: 36px;
}
.icon-circle-bg-pink{
	background: #e32d91;
    border: 1px solid #e32d91;
}
.icon-circle-bg-skyblue{
	background: #4ea6dc;
    border: 1px solid #4ea6dc;
}
.icon-circle-bg-blue{
	background: #4775e7;
    border: 1px solid #4775e7;
}
.icon-circle-bg-darkred{
	background: #d54773;
    border: 1px solid #d54773;
}
.icon-circle-size{
	display: inline-block;
	line-height: 53px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    font-size: 26px;
    text-align: center;
    color: #fff;
}
.display-inline-block{
	display: inline-block;
}
.pd-left-50 {
    padding-left: 50px;
}
.pd-left-15{
	padding-left: 15px;
}
.pd-9-per-left{
	padding-left: 9%;
}
.pd-top-10{
	padding-top: 10px;
}
.pd-top-20{
	padding-top: 20px;
}
.pd-top-50{
	padding-top: 50px;
}
.pd-tb-20{
	padding: 20px 0;
}
.pd-lr-55{
	padding: 0 55px;
}
.margin-tb-50{
	margin: 50px 0;
}
.margin_top_-90{
	margin-top: -90px;
}
.margin_top_-110{
	margin-top: -110px;
}
.margin_top_-70{
	margin-top: -70px;
}
/*===================Timeline======================*/


.timeline {
    list-style: none;
    padding: 70px 0;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #adadad;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 40px;
    position: relative;
}
.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 2px;
    left: 50%;
	font-size: 24px;
    margin-left: -12px;
    /* background-color: #999999; */
    z-index: 100;
}
.timeline-badge > a {
    color: #adadad !important;
/*
    background: #000;
    border-radius: 100%;
    width: 10px;
*/
}
.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
/*    border: 1px solid #d4d4d4;*/
    position: relative;
}
/*
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 10px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}
*/
.timeline-header {
	padding: 5px 10px;
/*    background-color: #f4f4f4;*/
}
.timeline-body > p, .timeline-body > ul {
/*    padding: 20px;*/
    margin-bottom: 0;
/*    background: #fff;*/
}
/*
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
*/
.timeline > li:after {
    clear: both;
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}
/*
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
*/
/*==============================================================*/
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
/*=================================*/
.start-stop {
    margin: 0 auto;
    background: #adadad;
    width: 80px;
    height: 80px;
    border: 1px solid #adadad;
    border-radius: 100%;
/*    margin-top: 40px;*/
}
.start-stop-text {
    font-size: 18px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 500;
}
.timeline-heading {
    display: inline-block;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
.timeline-heading-icon {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    color: #fff;
}
.timeline-paragraph {
	padding: 0px 20px 20px 20px;
    margin-bottom: 0;
    font-size: 12px;
    color: #fff;
	font-family: 'Calibri Light';
}
.timeline-number {
    font-family: 'Calibri Light';
    font-size: 30px;
    color: #fff;
    padding: 0 20px;
}
/*////////////////////////*/
.div-inverted {
    flex-direction: row-reverse;
}
/* -------------BG Color--------------*/
.bg-e32d91{
	background-color: #e32d91 !important;	
}
.bg-1fa79f{
	background-color: #1fa79f !important;
}
.bg-4775e7{
	background-color: #4775e7 !important;
}
.bg-436bc8{
	background-color: #436bc8 !important;
}
.bg-c830cc{
	background-color: #c830cc !important;
}
.bg-aa33b2{
	background-color: #aa33b2 !important;
}
.bg-4ea6dc{
	background-color: #4ea6dc !important;
}
.bg-4992bf{
	background-color: #4992bf !important;
}
.bg-4892bf{
	background-color: #4892bf !important;
}
.bg-d54773{
	background-color: #d54773 !important;
}
.bg-b5466b{
	background-color: #b5466b !important;
}
.bg-b4466b{
	background-color: #b4466b !important;
}
.bg-8971e1{
	background-color: #8971e1 !important;
}
.bg-7867c3{
	background-color: #7867c3 !important;
}
.bg-adadad{
	background-color: #adadad !important;
}
.bg-959799{
	background-color: #959799 !important;
}
.bg-949799{
	background-color: #949799 !important;
}
/******************Color*******************/
.color-e32d91{
	color: #e32d91 !important;	
}
.color-1fa79f{
	color: #1fa79f !important;
}
.color-4775e7{
	color: #4775e7 !important;
}
.color-436bc8{
	color: #436bc8 !important;
}
.color-c830cc{
	color: #c830cc !important;
}
.color-aa33b2{
	color: #aa33b2 !important;
}
.color-4ea6dc{
	color: #4ea6dc !important;
}
.color-4992bf{
	color: #4992bf !important;
}
.color-4892bf{
	color: #4892bf !important;
}
.color-d54773{
	color: #d54773 !important;
}
.color-b5466b{
	color: #b5466b !important;
}
.color-b4466b{
	color: #b4466b !important;
}
.color-8971e1{
	color: #8971e1 !important;
}
.color-7867c3{
	color: #7867c3 !important;
}
.color-adadad{
	color: #adadad !important;
}
.color-959799{
	color: #959799 !important;
}
.color-949799{
	color: #949799 !important;
}
.color-f20070{
	color: #f20070 !important;
}
.color-ab5aa9{
	color: #ab5aa9 !important;
}
/***********All Arrow***********/
.arrow-e32d91:before{
    position: absolute;
    top: 10px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #e32d91;
    border-right: 0 solid #e32d91;
    border-bottom: 15px solid transparent;
    content: " ";
}
.arrow-c830cc:before{
    position: absolute;
    top: 10px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #c830cc;
    border-right: 0 solid #c830cc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.arrow-4775e7:before{
    position: absolute;
    top: 10px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #4775e7;
    border-right: 0 solid #4775e7;
    border-bottom: 15px solid transparent;
    content: " ";
}
.arrow-4ea6dc:before{
    position: absolute;
    top: 10px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #4ea6dc;
    border-right: 0 solid #4ea6dc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.arrow-8971e1:before{
    position: absolute;
    top: 10px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #8971e1;
    border-right: 0 solid #8971e1;
    border-bottom: 15px solid transparent;
    content: " ";
}
.arrow-d54773:before{
    position: absolute;
    top: 10px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #d54773;
    border-right: 0 solid #d54773;
    border-bottom: 15px solid transparent;
    content: " ";
}
.arrow-adadad:before{
    position: absolute;
    top: 10px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #adadad;
    border-right: 0 solid #adadad;
    border-bottom: 15px solid transparent;
    content: " ";
}
/************36******************/
.svg-pencil {
    width: 100px;
    margin: 0 auto;
}
.svg-pencil {
    width: 75%;
    margin: 0 auto;
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    top: 132px;
}
.div-1 {
    left: 17%;
    top: 145px;
    max-width: 35%;
    z-index: 9;
    max-height: 135px;
    overflow: auto;
}
.div-2 {
    right: 17%;
    top: 240px;
    overflow: auto;
    max-height: 135px;
    z-index: 9;
    max-width: 35%;
}
.div-3 {
    left: 16%;
    top: 290px;
    max-width: 35%;
    overflow: auto;
    z-index: 9;
    max-height: 135px;
}
.div-4 {
    right: 15%;
    top: 380px;
    max-width: 35%;
    overflow: auto;
    max-height: 135px;
    z-index: 9;
}

/*************16**************/
.big-number-per {
    font-size: 60px;
    color: #e32d91;
    font-family: 'Calibri Light';
    font-weight: bold;
}
/****************18************/
.big-icon {
    font-size: 100px;
    color: #e32d91;
}
.small-big-number {
    font-size: 40px;
}



