.pd-top-20
 {
    padding-top: 20px;
    padding-bottom: 29px;
    color: white;
    /* padding-left: 61px; */

}

.main
{
    color: #ff4da6;
    

}

.heding 
{
   
    color: white;
    margin-top: -40px;
    padding-left: 49px;

}

.main1
{
    color: #ff3377;
    

}
.cont-heading
{
	    margin-top: -39px;
    padding-left: 48px;
    color: white;

}
.paragraph
{
	color: white;
}
.row
{
	padding-top: px;
}


.pd-top-20 
{
    padding-top:107px;
}


.min2
{
	color:#ff33cc;

}
.min3
{
color:#00ccff;
}



.min4
{
color:#3366cc;
}

.min5
{
color:#9966ff;
}


.min6
{
color:#cc0066;
}



.main3
{
color:#cc00ff;
}

.main6
{
color: #9966ff;
}
/*nomber four 4 css*/
.side_right h1 p
{
padding-left: 40px;



}

.side_right h1
{
	padding-top: 10px;
}

.pd-top-20 {
    padding-top: 20px;
    padding-bottom: 28px;
    color:white;
}

.paragraph-all {
    font-family: 'Calibri Light';
     font-size: 14px;
    font-weight: 500; 
     color: #bbcbd4;
}
/*19 nomber templeate designe*/
.heding
{
color: white;
    padding-top: 40px;
    padding-left: 37px;
}

.paragraph
{
color: white;
    padding-top: 44px;
    padding-left: 55px;
}

.cotent-text
{
    padding: 26px;
    
    color: white;
}